# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/first-proj/node_modules
/first-proj/.pnp
/first-proj/.pnp.js

# testing
/first-proj/coverage

# production
/first-proj/build

# misc
/first-proj/.DS_Store
/first-proj/.env.local
/first-proj/.env.development.local
/first-proj/.env.test.local
/first-proj/.env.production.local

/first-proj/npm-debug.log*
/first-proj/yarn-debug.log*
/first-proj/yarn-error.log*